<html>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>Find the food you need.</h1>
        <h2><a style: font = "22px" href="/about">Learn More</a></h2>
      </div>
    </div> 
    
    <div class = "recipe-guides">
        <div class = "">
            <h2> Food Pantry Guides</h2>
            <p>Not sure where to go and find food and resources to help? We've created a guide with entries of a few of Indianapolis's bigger pantries.</p>
            <div class = "row"> 
    <!- 1 ->    <div class = "col-md-4">
                <div class="thumbnail">
                <img src= "https://s.hdnux.com/photos/41/63/06/8860083/11/920x920.jpg" >
                </div>
                </div>
    <!- 2 ->    <div class = "col-md-4">
                <div class="thumbnail">
                <img src= "https://imgs.6sqft.com/wp-content/uploads/2016/11/23101306/volunteering-in-new-york-city-e1479914181741.jpg">
                </div>
                </div>
                <div class = "col-md-4">
                <div class="thumbnail">
                <img src = "http://www.vancouversun.com/life/cms/binary/11220652.jpg?size=sw620x65">
                </div>
            </div>
        </div>
    </div>
		  
	    </div>
	  </div>
	</div>
  </body>
</html>
